<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /var/lib/jenkins
BACKUP_TIME=$(date)
git init
git add .
git commit -m &quot;backup-$BACKUP_TIME&quot;
git branch -M main
git remote add origin https://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@github.com/suresh0204/backup_jenkins.git
git push -u origin main
echo &quot;backup pushed successfully&quot;</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>